header
    ul(class="menu_list")
        li 
            a(class="menu_item" href="/dashboard") PRODUCTS
        li 
            a(class="menu_item" href="/dashboard") ADD A PRODUCT 
        li 
            a(class="menu_item" href="/dashboard/:productId/edit") UPDATE A PRODUCT     
    img(src="", alt="logo_tienda", class="logo")