header
    ul(class="menu_list")
        li  
            img(src="", alt="logo_tienda", class="logo")
        li 
            a(class="menu_item" href="/dashboard") PRODUCTS
        li 
            a(class="menu_item" href="/dashboard/new") ADD A PRODUCT 
        li 
            a(class="menu_item" href="/logout") LOG OUT