header
    ul(class="menu_list")
        li
            img(src="", alt="logo_tienda", class="logo")
        li 
            a(class="menu_item" href="/products") PRODUCTS
        li 
            a(class="menu_item" href="/dashboard") FILTER BY CATEGORY 
        li 
            a(class="menu_item" href="/signin") SIGN IN     
        