doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tienda de ropa
        link(rel="stylesheet", href="/styles.css")
    body 
        include ./navBar.pug
        form(action="/dashboard" method="POST")
            label(for="name") Nombre:
            input(type="text" id="name" name="name")
            label(for="description") Descripción:
            input(type="textarea" id="description" name="description")
            label(for="image") Imagen:
            input(type="text" id="image" name="image")
            label(for="category") Categoría:
            select(id="category" name="category")
            option(value="Camisetas") Camisetas
            option(value="Pantalones") Pantalones
            option(value="Zapatos") Zapatos
            option(value="Accesorios") Accesorios
            label(for="size") Talla:
            select(id="size" name="size")
            option(value="XS") XS
            option(value="S") S
            option(value="M") M
            option(value="L") L
            option(value="XL") XL
            label(for="price") Precio:
            input(type="number" id="price" name="price")
            button(type="submit") Añadir producto